/* ---- Web Fonts ---- */

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/open-sans/open-sans-bold.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open-sans/open-sans-light.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto/roboto-bold.ttf');
}

/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    line-height: 1.6;
    color: #000000;
    background: #fdfafa;
    font-family: 'Open Sans Light', sans-serif;
    text-align: center;
}

main {
    background: #ffffff;
}

nav {
    display: block;
}

h1 {
    margin: 0 auto;
}

h2,
nav {
    text-transform: uppercase;
    font-family: 'Roboto Bold', sans-serif;
    font-size: 1em;
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    line-height: 1.38em;
}

footer {
    height: 100px;
    padding: 20px;
    background: #fdfafa;
    border-top: 1px solid #d6d6d6;
}

/* ---- Psuedo-Classes ---- */

a:link {
    color: #383838;
    text-decoration: none;
}

a:visited {
    color: #797979;
}

a:hover {
    color: pink;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
    padding-left: 0;
    margin: 0;
}

.main-nav a {
    display: block;
    background: #ffffff;
    margin: 6px;
    padding: 12px 5px;
}

.main-footer {
    margin-top: 0;
    margin-bottom: 0;
}

.name-footer {
    font-family: 'Roboto Bold', sans-serif;
}

.top,
.main-footer li:last-child {
    margin-right: 0;
}

.full {
    display: none;
}

/* ---- Layout Containers ---- */

.main-header {
    padding: 0 20px;
}

.blog-header {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.banner{
    padding: 55px 16px;
}

.main-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ---- Page Elements---- */

.name {
    padding: 16px;
    font-family: 'Open Sans Bold', sans-serif;
}

.profile-pic {
    width: 75%;
    padding: 0 5px;
}

.bio {
    font-size: 1.1em;
    color: #ababab;
    margin-top: 20px;
    padding: 0 25px;
}

.title,
.blog-title {
    margin: 0;
    padding: 45px 0;
}

.blog-title {
    border-top: 1px solid #b4b4b4;
}

.main-content p,
.blog-content p {
    font-family: 'Open Sans Light', sans-serif;
    padding-bottom: 45px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.1em;
}

.contact {
    background: #fdfafa;
    padding: 55px 16px;
}

.contact h2 {
    padding-bottom: 16px;
}

.contact p {
    color: #ababab;
    padding-bottom: 16px;
}

.contact a {
    padding: 16px 16px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px){

    .main-header {
        padding-top: 40px;
    }

    .main-nav a {
        display: inline-block;
        background: #fdfafa;
    }

    .banner {
        display: flex;
        justify-content: flex-start;
    }

    .bio {
        order: -1;
        text-align: left;
        max-width: 65%;
    }

    .profile-pic {
        max-width: 35%;
    }

    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .contact-note {
        max-width: 500px;
        margin: 0 auto;
    }

    .top {
        display: none;
    }

    .full {
        display: inline-block;
    }
}

@media (min-width: 1024px){

    .main-header {
        display: flex;
        justify-content: space-between;
    }

    .name {
        margin-top: auto;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
    }

    .main-content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    body {
        padding: 0 40px;
    }
}