/* ---- Web Fonts ---- */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/open-sans-regular.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/open-sans/open-sans-bold.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open-sans/open-sans-light.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto/roboto-bold.ttf');
}

/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #383838;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

main {
    background: #ffffff;
}

nav {
    display: block;
}

h1 {
    margin: 0 auto;
}

h2,
nav {
    text-transform: uppercase;
    font-family: 'Roboto Bold', sans-serif;
    font-size: .95em;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
}

img {
    max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.main-nav li {
    background: #ffffff;
    margin: 6px;
    padding: 12px 5px;
    font-weight: bold;
}

/* ---- Layout Containers ---- */

.main-header {
    padding: 0 16px;
}

.banner {
    padding: 24px 16px;
}


/* ---- Page Elements---- */

.name {
    padding: 16px;
    font-family: 'Open Sans Bold', sans-serif;
}

.profile-pic {
    width: 190px;
    text-align: center;
    padding: 10px 5px;
}

.bio {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 1.1em;
    color: #ababab;
    margin: 0 0;
    padding: 10px 5px;
}

.footer-name {
    float: left;
}

.top {
    float: right;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px){

}

@media (min-width: 1024px){

}

/* ---- Float Clearfix ---- */

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}